* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background: #eeeeee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* menu base styles */
nav {
  background: #333333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 10px;
  height: 25px;
}

nav a:hover {
  background-color: #555555;
}

.social {
  max-width: 80px;
  margin: 0 auto;
}
/* flex styles */

nav ul.social {
  flex: 1 1 0;
  display: flex;
}

nav ul.social li {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }

  nav li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  ul.social {
    margin: 0;
  }

  #blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    flex: 0 1 32%;
    transition: flex-basis 1s linear;
  }

  article.stack {
    flex: 0 1 100%;
  }
}

/*Grid vs flex base styles*/

#blocks {
  margin: 20px;
}

article {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

article h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

/* end media 768 */

/*social menu base styles*/
a.tw {
  background: url(../img/tw.png) no-repeat center;
  background-size: 80%;
}

a.fb {
  background: url(../img/fb.png) no-repeat center;
  background-size: 80%;
}

.social a {
  text-indent: -10000px;
}
