* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background: #eeeeee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* menu base styles */
nav {
  background: #333333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 10px;
  height: 25px;
}

nav a:hover {
  background-color: #555555;
}
/* flex styles */

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
